label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

h2, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

textarea {
  resize: none;
}

input[type='checkbox'],
input[type='radio'] {
    margin: 0;
}